@{
    ViewData["Title"] = "Painel do Administrador";

}
<div class="text-info" >
    <h1>Questudo - Painel de Administrador</h1>
    <h4>A plataforma Questudo visa auxiliar a gestão educacional de modo a minimizar a evasão escolar e colocar o aluno como protagonista de seu próprio aprendizado.</h4>
    <h5>O painel de administrador é responsável pelo gerenciamento dos cadastros de alunos, professores, turmas e matrículas dos alunos nas suas turmas. Para fazer o gerenciamento é necessário fazer o login na plataforma.</h5>
</div>

<div>
    <table class="table" >
        <thead>
            <tr>
                <th>
                    Função
                </th>
                <th>
                    O que faz?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    Gerenciamento de Alunos
                </td>
                <td>
                    Cadastro, edição, deleção e detalhamento dos estudantes da plataforma
                </td>
                <td><a asp-area="" asp-controller="Students" asp-action="Index">Acessar</a></td>

            </tr>
            <tr>
                <td>
                    Gerenciamento de Professores
                </td>
                <td>
                    Cadastro, edição, deleção e detalhamento dos professores da plataforma
                </td>
                <td><a asp-area="" asp-controller="Instructors" asp-action="Index">Acessar</a></td>

            </tr>
            <tr>
                <td>
                    Gerenciamento de Salas de Aula
                </td>
                <td>
                    Cadastro, edição, deleção e detalhamento das salas de aula/turmas da plataforma
                </td>
                <td><a asp-area="" asp-controller="Classrooms" asp-action="Index">Acessar</a></td>

            </tr>
            <tr>
                <td>
                    Gerenciamento de Matrículas
                </td>
                <td>
                    Realização de matrículas e desmatrículas da plataforma
                </td>
                <td><a asp-area="" asp-controller="Enrolleds" asp-action="Index">Acessar</a></td>

            </tr>

        </tbody>
    </table>
</div>
